<a href="https://colab.research.google.com/github/rbksh/11th-grade-CS/blob/main/Shesh_L1_CS_2024_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 # --------------------------------------------------------------#
	# List-Program No 	: L1-P6
	# Developed By	 	: Shesh Shiromani
	# Date        		: 19-April
  # --------------------------------------------------------------#
  # Write a Python program to calculate volume and area of a sphere. (Area= 4 π r2), (Volume= 4/3πr3)

r= float(input("Radius of Sphere:    "))
v= 4*3.14*r*r

print("Volume: " , v , "[mtr cube]")

s= 4*3.14*r*r*r/3

print("Surface Area: " ,s, "[mtr sq]")

'''Radius of Sphere:    69420
Volume:  60528353184.00001 [mtr cube]
Surface Area:  1400626092677760.2 [mtr sq]'''

Radius of Sphere:    69420
Volume:  60528353184.00001 [mtr cube]
Surface Area:  1400626092677760.2 [mtr sq]

In [ ]:
 # --------------------------------------------------------------#
	# List-Program No 	: L1-P6
	# Developed By	 	: Shesh Shiromani
	# Date        		: 19-April-2024
  # --------------------------------------------------------------#
  #Write a program in to accept Qty of Fuel (in Litre) and Distance travelled (in KM) from the user, calculate and display the Average of the Vehicle (i.e. KM per Litre).
Qty=float(input("Quantity: "))
Dist=float(input("Distance: "))
Avg=Dist/Qty
print("Average: ",Avg)
'''uantity: 6
Distance: 7
Average:  1.1666666666666667'''

Quantity: 6
Distance: 7
Average:  1.1666666666666667

In [ ]:
 # --------------------------------------------------------------#
	# List-Program No 	: L1-P10
	# Developed By	 	: Shesh Shiromani
	# Date        		: 19-April-2024
  # --------------------------------------------------------------#
#  Write a program in to accept Marks of 5 subjects (each out of 100), calculate and display
# (a) Total Marks obtained  (b) Average Marks
Math=float(input("Maths Marks:   "))
Phy=float(input("Physics Marks: "))
Eng=float(input("English Marks: "))
Chem=float(input("Chemistry Marks: "))
CS=float(input("Computer Science Marks: "))

t= Math+Phy+Eng+Chem+CS

print("Total Marks: ",t)

Avg=t/5

print("Average Marks: ",Avg)
'''Maths Marks:   100
Physics Marks: 100
English Marks: 100
Chemistry Marks: 100
Computer Science Marks: 100
Total Marks:  500.0
Average Marks:  100.0'''

Maths Marks:   100
Physics Marks: 100
English Marks: 100
Chemistry Marks: 100
Computer Science Marks: 100
Total Marks:  500.0
Average Marks:  100.0

In [ ]:
 # --------------------------------------------------------------#
	# List-Program No 	: L1-P11
	# Developed By	 	: Shesh Shiromani
	# Date        		: 19-April-2024
  # --------------------------------------------------------------#
#  Write a program to allocate and display Block and Floor No on the basis of Customer Number. Assuming there are 10 Blocks (‘A’ to ‘J’) with 5 floors (0 to 4) each and allocated to customers sequentially as per their Customer Number. For example: Customer no 1 gets [Block A Floor 0], Customer no 3 gets [Block A Floor 2], Customer no 7 gets [Block B Floor 1]

Customer = int(input("Customer number : "))
X = (Customer - 1 // 5)
Y = (Customer // 5)
Z = Y + 65
print("\n\nYour Floor Will Be: ",X)
print("Your Block Will Be: ",chr(Z))

'''Customer number : 7


Your Floor Will Be:  7
Your Block Will Be:  B'''

Customer number : 7


Your Floor Will Be:  7
Your Block Will Be:  B

In [ ]:
 # --------------------------------------------------------------#
	# List-Program No 	: L1-P12
	# Developed By	 	: Shesh Shiromani
	# Date        		: 19-April-2024
  # --------------------------------------------------------------#
#  Write a program to calculate total collection of a PARKING area on the basis of the number of vehicles under each category entered by the user. Per vehicle amounts for each type of vehicle is as follows:  Bus Rs. 100  SUV	Rs.40	CAR	Rs.30	Two-Wheeler	Rs.10
bus_rate = 100
suv_rate = 40
car_rate = 30
two_wheeler_rate = 10
num_buses = int(input("Number of Buses: "))
num_suvs = int(input("Number of SUVs: "))
num_cars = int(input("Number of Cars: "))
num_two_wheelers = int(input("Number of Two-Wheelers: "))
collection_buses = num_buses * bus_rate
collection_suvs = num_suvs * suv_rate
collection_cars = num_cars * car_rate
collection_two_wheelers = num_two_wheelers * two_wheeler_rate
total_collection = collection_buses + collection_suvs + collection_cars + collection_two_wheelers
print(f"Number of Buses        : {num_buses}")
print(f"Number of SUVs         : {num_suvs}")
print(f"Number of Cars         : {num_cars}")
print(f"Number of Two-Wheelers : {num_two_wheelers}")
print(f"Collection for Buses       : {collection_buses}")
print(f"Collection for SUVs        : {collection_suvs}")
print(f"Collection for Cars        : {collection_cars}")
print(f"Collection for Two-Wheelers: {collection_two_wheelers}")
print(f"Total Collection           : {total_collection}")
'''Number of Buses: 50
Number of SUVs: 100
Number of Cars: 200
Number of Two-Wheelers: 45
Number of Buses        : 50
Number of SUVs         : 100
Number of Cars         : 200
Number of Two-Wheelers : 45
Collection for Buses       : 5000
Collection for SUVs        : 4000
Collection for Cars        : 6000
Collection for Two-Wheelers: 450
Total Collection           : 15450'''

Number of Buses: 50
Number of SUVs: 100
Number of Cars: 200
Number of Two-Wheelers: 45
Number of Buses        : 50
Number of SUVs         : 100
Number of Cars         : 200
Number of Two-Wheelers : 45
Collection for Buses       : 5000
Collection for SUVs        : 4000
Collection for Cars        : 6000
Collection for Two-Wheelers: 450
Total Collection           : 15450

In [ ]:
a = int(input("enter first number: "))
b = int(input("enter second number: "))

In [ ]:
  # --------------------------------------------------------------#
	# List-Program No 	: L1-P7
	# Developed By	 	: Shesh Shiromani
	# Date        		: 19-April-2024
  # --------------------------------------------------------------#
#Write a Python program to calculate volume (πr2h) and surface area (2πrh+2πr2 ) of a Cylindrical Oil Container.
#Also
#(i)	Calculate the price of painting this Cylindrical Oil Container, if the price for painting is Rs. 530 per square meter.
#(ii)	Maximum cost of Petrol, that can be stored in the cylindrical container, if the price of petrol is Rs. 73 per litre . [Remember 1 mtr cube = 1000 litre]

r = float(input("Radius of cylinder:      "))
h = float(input("Height of cylinder:      "))
v = 3.14*r*r*h

print("Volume: " , v , "[mtr cube]")

s= 2*3.14*r*(h+r)
p= 530*s
l= 73*v

print("Surface Area: " , s ,     "[mtr sq]")
print("Price of Painting " , p , "[mtr sq]")
print("Price of Petrol " , l , "[mtr cube]")

'''adius of cylinder:      6
Height of cylinder:      9
Volume:  1017.3599999999999 [mtr cube]
Surface Area:  565.2 [mtr sq]
Price of Painting  299556.0 [mtr sq]
Price of Petrol  74267.28 [mtr cube]'''

Radius of cylinder:      6
Height of cylinder:      9
Volume:  1017.3599999999999 [mtr cube]
Surface Area:  565.2 [mtr sq]
Price of Painting  299556.0 [mtr sq]
Price of Petrol  74267.28 [mtr cube]

In [ ]:
  # --------------------------------------------------------------#
	# List-Program No 	: L1-P6
	# Developed By	 	: Shesh Shiromani
	# Date        		: 19-April-2024
  # --------------------------------------------------------------#
'''Write a Python program to calculate the area of a parallelogram.
Note : A parallelogram is a quadrilateral with opposite sides parallel (and therefore opposite angles equal). A quadrilateral with equal sides is called a rhombus, and a parallelogram whose angles are all right angles is called a rectangle.
'''
base = float(input("Enter the base of the parallelogram: "))
height = float(input("Enter the height of the parallelogram: "))
1
area = base * height

print(f"The area of the parallelogram is: {area}")
'''Enter the base of the parallelogram: 25
Enter the height of the parallelogram: 15
The area of the parallelogram is: 375.0'''

Enter the base of the parallelogram: 25
Enter the height of the parallelogram: 15
The area of the parallelogram is: 375.0

In [ ]:
  # --------------------------------------------------------------#
	# List-Program No 	: L1-P5
	# Developed By	 	: Shesh Shiromani
	# Date        		: 19-April-2024
  # --------------------------------------------------------------#


'''Write a Python program to calculate the area of a trapezoid.
Note : A trapezoid is a quadrilateral with two sides parallel. The trapezoid is equivalent to the British definition of the trapezium. An isosceles trapezoid is a trapezoid in which the base angles are equal.( Area= ½h(a+b), where h is the height and a ,b are length of parallel sides)
'''
b = float(input("Top Width:           "))
c = float(input("Bottom Width:        "))
x = a*(b+c)/2

print("Area is: " , x)
'''Height of Trapezoid: 5
Top Width:           2
Bottom Width:        1
Area is:  7.5'''

Height of Trapezoid: 5
Top Width:           2
Bottom Width:        1
Area is:  7.5

In [ ]:
  # --------------------------------------------------------------#
	# List-Program No 	: L1-P4
	# Developed By	 	: Shesh Shiromani
	# Date        		: 19-April-2024
  # --------------------------------------------------------------#


'''Write a Python program to convert radians to degrees.
Sample Output:
Input radians: 2
In Degree    : 114.54545454545455
'''
pi = 3.141

radians = float(input("Input radians: "))

degrees = radians * (180 / pi)

print(f"In Degrees: {degrees}")
'''Input radians: 3.141
In Degrees: 180.0'''

Input radians: 3.141
In Degrees: 180.0

In [ ]:

 # --------------------------------------------------------------#
	# List-Program No 	: L1-P3
	# Developed By	 	: Shesh Shiromani
	# Date        		: 19-April-2024
  # --------------------------------------------------------------#

'''Write a Python program to convert degree to radian.
Note : The radian is the standard unit of angular measure, used in many areas of mathematics. An angle's measurement in radians is numerically equal to the length of a corresponding arc of a unit circle; one radian is just under 57.3 degrees (when the arc length is equal to the radius).
Sample output:
Input degrees: 45
In Radians: 0.7857142857142857'''

pi = 3.141

degrees = float(input("Input degrees: "))

radians = degrees * (pi / 180)
print(f"In Radians: {radians}")

'''Input degrees: 180
In Radians: 3.141'''

Input degrees: 180
In Radians: 3.141

In [ ]:
 # --------------------------------------------------------------#
	# List-Program No 	: L1-P2
	# Developed By	 	: Shesh Shiromani
	# Date        		: 19-April-2024
  # --------------------------------------------------------------#
'''Write a program in python to accept Length (in inches of type float) and Breadth (in inches of type float) of a Rectangle.
Find and display (a) Area of the rectangle and (b) Perimeter of the rectangle.'''

length = float(input("Enter the length of the rectangle (in inches): "))
breadth = float(input("Enter the breadth of the rectangle (in inches): "))

area = length * breadth

perimeter = 2 * (length + breadth)

print(f"Area of the rectangle: {area} square inches")
print(f"Perimeter of the rectangle: {perimeter} inches")

'''Enter the length of the rectangle (in inches): 15
Enter the breadth of the rectangle (in inches): 20
Area of the rectangle: 300.0 square inches
Perimeter of the rectangle: 70.0 inches
'''

KeyboardInterrupt: Interrupted by user

In [ ]:
  # --------------------------------------------------------------#
	# List-Program No 	: L1-P1
	# Developed By	 	: Shesh Shiromani
	# Date        		: 19-April-2024
  # --------------------------------------------------------------#
'''Write a program in Python to accept First Name and Last Name from the user. Display "Good Day" wish combined with the First Name and Last Name.'''

first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")


print(f"Good Day, {first_name} {last_name}!")

Enter your first name: Shesh
Enter your last name: Shiromani
Good Day, Shesh Shiromani!

In [ ]:
  # --------------------------------------------------------------#
	# List-Program No 	: L1-P13
	# Developed By	 	: Shesh Shiromani
	# Date        		: 19-April-2024
  # --------------------------------------------------------------#

BS = float(input("Enter basic salary: "))
DA = (30/100)*BS
HRL = (1/4)*BS
if BS < 50000:
   Itax = (1/5)*BS
elif BS >= 5000:
    Itax = (1/10)*BS

TS = BS + DA + HRL
SALH = TS - Itax

print("Basic Salary is: ",BS)
print("Deaance Allownace is: ",DA)
print("House rent allowance is: ",HRL)
print("Income tax is: ",Itax)
print("Total salary is: ",TS)
print("Salary in hand is: ",SALH)
'''Enter basic salary: 1000000
Basic Salary is:  1000000.0
Deaance Allownace is:  300000.0
House rent allowance is:  250000.0
Income tax is:  100000.0
Total salary is:  1550000.0
Salary in hand is:  1450000.0'''

Enter basic salary: 1000000
Basic Salary is:  1000000.0
Deaance Allownace is:  300000.0
House rent allowance is:  250000.0
Income tax is:  100000.0
Total salary is:  1550000.0
Salary in hand is:  1450000.0

In [ ]:
  # --------------------------------------------------------------#
	# List-Program No 	: L1-P14
	# Developed By	 	: Shesh Shiromani
	# Date        		: 19-April-2024
  # --------------------------------------------------------------#
  '''Write a program to accept marks of English (ENG), marks of Maths (MAT), marks of Science (SCI) each out of 100, calculate and display the following:
	(a)	Total Marks (TOT) as ENG+MAT+SCI
	(b)	Percentage of Marks (PER) as TOT/3
	(c)	Display Grade as ‘A’ if PER>50 ‘B’ if PER>0 and ‘C’ if PER=0  '''

Eng = float(input("Enter english marks: "))
Mat = float(input("Enter maths marks:   "))
Sci = float(input("Enter science marks: "))
TM = Eng + Mat + Sci
print("Total marks are , ",TM)
Per = TM/3
print("% of marks is: ",Per)
if Per>50:
    print("Your grade is A")
elif Per>0:
    print("Your grade is B")
elif Per==0:
    print("Your grade is C")
'''Enter english marks: 92
Enter maths marks:   97
Enter science marks: 94
Total marks are ,  283.0
% of marks is:  94.33333333333333
Your grade is A'''

Enter english marks: 92
Enter maths marks:   97
Enter science marks: 94
Total marks are ,  283.0
% of marks is:  94.33333333333333
Your grade is A

In [ ]:
  # --------------------------------------------------------------#
	# List-Program No 	: L1-P15
	# Developed By	 	: Shesh Shiromani
	# Date        		: 19-April-2024
  # --------------------------------------------------------------#
  '''Write a program to accept the age of the individual and display a message "Allowed to get a license to Drive" if Age entered by the user >=18 else display a message "Wait for x years to get a Driving License". Here, x to be replaced with 18-Age years.
'''
  Age = int(input("Enter you age: "))
  x = 18 - Age
  if Age>=18:
      print("Allowed to get a license to drive")
  else:
      print("Wait for ",x,"years")
'''Enter you age: 9
Wait for  9 years'''

Enter you age: 9
Wait for  9 years

In [ ]:
  # --------------------------------------------------------------#
	# List-Program No 	: L1-P17
	# Developed By	 	: Shesh Shiromani
	# Date        		: 19-April-2024
  # --------------------------------------------------------------#
  '''Write a program to accept marks of a student out of 100, find and display Grades ‘A’ to ‘F’ as per the following grade table using if else.
Marks Range		Grade
100 -90			A
89.9-75			B
74.9-60			C
59.9-45			D
44.9-33			E
32.9-0			F'''

try:
    marks = float(input("Enter the marks (0-100): "))

    if 90 <= marks <= 100:
        grade = 'A'
    elif 75 <= marks < 90:
        grade = 'B'
    elif 60 <= marks < 75:
        grade = 'C'
    elif 45 <= marks < 60:
        grade = 'D'
    elif 33 <= marks < 45:
        grade = 'E'
    elif 0 <= marks < 33:
        grade = 'F'
    else:
        grade = 'Invalid marks'

    print(f"The grade for marks {marks} is: {grade}")
except ValueError:
    print("Invalid input. Please enter a numeric value between 0 and 100.")
'''Enter the marks (0-100): 75
The grade for marks 75.0 is: B'''

Enter the marks (0-100): 75
The grade for marks 75.0 is: B

In [ ]:
  # --------------------------------------------------------------#
	# List-Program No 	: L1-P19
	# Developed By	 	: Shesh Shiromani
	# Date        		: 19-April-2024
  # --------------------------------------------------------------#

'''Write a program to display the Floor for the various items in a SHOPPING MALL on the basis of Age and Gender entered by user as per the following table:
	Age				Gender		Floor
	>=60				M			7
	>=20 and <60			M			6
	>=10 and <20			M			5
	<10				M			4
>=58				F			3
	>=18 and <58			F			2
	>=10 and <18			F			1
	<10				F			0

Sample Output 1:
Age		: 45
Gender	: F
Floor		: 2
Sample Output 2:
Age		: 18
Gender	: M
Floor		: 5
'''
try:
    age = int(input("Enter your age: "))
    gender = input("Enter your gender (M/F): ").strip().upper()

    if gender == 'M':
        if age >= 60:
            floor = 7
        elif 20 <= age < 60:
            floor = 6
        elif 10 <= age < 20:
            floor = 5
        elif age < 10:
            floor = 4
        else:
            floor = "Invalid age"
    elif gender == 'F':
        if age >= 58:
            floor = 3
        elif 18 <= age < 58:
            floor = 2
        elif 10 <= age < 18:
            floor = 1
        elif age < 10:
            floor = 0
        else:
            floor = "Invalid age"
    else:
        floor = "Invalid gender"

    if isinstance(floor, int):
        print(f"Age      : {age}")
        print(f"Gender   : {gender}")
        print(f"Floor    : {floor}")
    else:
        print(floor)
except ValueError:
    print("Invalid input. Please enter a numeric value for age.")

In [ ]:
  # --------------------------------------------------------------#
	# List-Program No 	: L1-P18
	# Developed By	 	: Shesh Shiromani
	# Date        		: 19-April-2024
  # --------------------------------------------------------------#
'''Write a program to make a calculator application with the following operations:
(a)	Accept values of two real numbers
(b)	Accept arithmetic operation to be performed out of ‘+’,‘-’,‘*’,‘/’,‘%’
(c)	Perform the desired arithmetic operation on two real number and display the result of operation as selected by the user'''

try:

    num1 = float(input("Enter the first number: "))
    num2 = float(input("Enter the second number: "))

    operation = input("Enter the operation (+, -, *, /, %): ").strip()

    if operation == '+':
        result = num1 + num2
        print(f"The result of {num1} + {num2} is: {result}")
    elif operation == '-':
        result = num1 - num2
        print(f"The result of {num1} - {num2} is: {result}")
    elif operation == '*':
        result = num1 * num2
        print(f"The result of {num1} * {num2} is: {result}")
    elif operation == '/':
        if num2 != 0:
            result = num1 / num2
            print(f"The result of {num1} / {num2} is: {result}")
        else:
            print("Error: Division by zero is not allowed.")
    elif operation == '%':
        if num2 != 0:
            result = num1 % num2
            print(f"The result of {num1} % {num2} is: {result}")
        else:
            print("Error: Division by zero is not allowed.")
    else:
        print("Invalid operation. Please enter one of +, -, *, /, %.")
except ValueError:
    print("Invalid input. Please enter numeric values for the numbers.")
'''Enter the first number: 37
Enter the second number: 1729
Enter the operation (+, -, *, /, %): %
The result of 37.0 % 1729.0 is: 37.0'''

Enter the first number: 37
Enter the second number: 1729
Enter the operation (+, -, *, /, %): %
The result of 37.0 % 1729.0 is: 37.0

In [ ]:
  # --------------------------------------------------------------#
	# List-Program No 	: L1-P16
	# Developed By	 	: Shesh Shiromani
	# Date        		: 19-April-2024
  # --------------------------------------------------------------#
'''Write a program to accept the grade of a student out of ‘A’ to ‘F’ from the user and display the range of marks on the screen as per the following table using if else.
Grade				Marks Range
A				100-90
B				89-75
C				74-60
D				59-45
E				44-33
F				32-0'''

grade = input("Enter the grade (A to F): ").upper()

if grade == 'A':
    print("Marks Range: 100-90")
elif grade == 'B':
    print("Marks Range: 89-75")
elif grade == 'C':
    print("Marks Range: 74-60")
elif grade == 'D':
    print("Marks Range: 59-45")
elif grade == 'E':
    print("Marks Range: 44-33")
elif grade == 'F':
    print("Marks Range: 32-0")
else:
    print("Invalid grade entered.")
'''Enter the grade (A to F): B
Marks Range: 89-75'''

Enter the grade (A to F): B
Marks Range: 89-75

In [ ]:
  # --------------------------------------------------------------#
	# List-Program No 	: L1-P20
	# Developed By	 	: Shesh Shiromani
	# Date        		: 19-April-2024
  # --------------------------------------------------------------#

'''Write a program to accept runs of three consecutive cricket matches, find and display the highest and lowest runs.
Sample Output:
Match 1 Runs: 320
Match 2 Runs: 210
Match 3 Runs: 275
Highest Runs: 320 Lowest Runs : 210 '''

match1_runs = int(input("Match 1 Runs: "))
match2_runs = int(input("Match 2 Runs: "))
match3_runs = int(input("Match 3 Runs: "))

if match1_runs >= match2_runs and match1_runs >= match3_runs:
    highest = match1_runs
elif match2_runs >= match1_runs and match2_runs >= match3_runs:
    highest = match2_runs
else:
    highest = match3_runs

if match1_runs <= match2_runs and match1_runs <= match3_runs:
    lowest = match1_runs
elif match2_runs <= match1_runs and match2_runs <= match3_runs:
    lowest = match2_runs
else:
    lowest = match3_runs

print(f"Highest Runs: {highest}")
print(f"Lowest Runs: {lowest}")
'''Match 1 Runs: 177
Match 2 Runs: 250
Match 3 Runs: 182
Highest Runs: 250
Lowest Runs: 177'''

Match 1 Runs: 177
Match 2 Runs: 250
Match 3 Runs: 182
Highest Runs: 250
Lowest Runs: 177

In [ ]:
  # --------------------------------------------------------------#
	# List-Program No 	: L1-P21
	# Developed By	 	: Shesh Shiromani
	# Date        		: 19-April-2024
  # --------------------------------------------------------------#
  '''Write a program to display the BLOCK of buildings in school allocated for a particular group of students as per their class and stream entered by the user.
Class			Stream		Block
11			'S'		F Block
11			'C'		E Block
11			'H'		D Block
12			'S'		C Block
12			'C'		B Block
12			'H'		A Block
'''

student_class = int(input("Enter class (11 or 12): "))
student_stream = input("Enter stream ('S', 'C', or 'H'): ").upper()

if student_class == 11:
    if student_stream == 'S':
        block = 'F Block'
    elif student_stream == 'C':
        block = 'E Block'
    elif student_stream == 'H':
        block = 'D Block'
    else:
        block = 'Invalid stream entered.'
elif student_class == 12:
    if student_stream == 'S':
        block = 'C Block'
    elif student_stream == 'C':
        block = 'B Block'
    elif student_stream == 'H':
        block = 'A Block'
    else:
        block = 'Invalid stream entered.'
else:
    block = 'Invalid class entered.'

print(block)
'''Enter class (11 or 12): 11
Enter stream ('S', 'C', or 'H'): s
F Block'''

Enter class (11 or 12): 11
Enter stream ('S', 'C', or 'H'): s
F Block